/*button styles*/
.default-btn {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: 600;
  font-size: 3rem;
  border-radius: 8px;
  padding: 5% 0 5% 0;
}

.sub-btn {
  width: 60%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1rem;
  border-radius: 8px;
}

.icon-btn {
  width: 9rem;
  height: 9rem;
  padding: 1rem;
  overflow: hidden;
  margin: 3%;
  border-radius: 15px;
  box-shadow: 4px 5px 5px -2px rgba(0, 0, 0, 0.5);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*button colours*/
.turquoise {
  background-color: #32797e;
  border-color: #0c656b;
  color: white;
}
.turquoise:hover {
  background-color: #0c656b;
  border-color: white;
  color: white;
}
.turquoise:focus {
  background-color: #0c656b;
  border-color: white;
}
.turquoise:active {
  background-color: #32797e;
  border-color: white;
}

.green {
  background-color: #afba15;
  border-color: #95a000;
  color: white;
}
.green:hover {
  background-color: #c5d300;
  border-color: white;
  color: white;
}
.green:focus {
  background-color: #c5d300;
  border-color: white;
}
.green:active {
  background-color: #afba15;
  border-color: white;
}

.yellow {
  background-color: #d9a12d;
  border-color: #c58401;
  color: white;
}
.yellow:hover {
  background-color: #c58401;
  border-color: white;
  color: white;
}
.yellow:focus {
  background-color: #c58401;
  border-color: white;
}
.yellow:active {
  background-color: #d9a12d;
  border-color: white;
}

.blue {
  background-color: #0c0847;
  border-color: #02001a;
  color: white;
}
.blue:hover {
  background-color: #02001a;
  border-color: white;
  color: white;
}
.blue:focus {
  background-color: #02001a;
  border-color: white;
}
.blue:active {
  background-color: #0c0847;
  border-color: white;
}

.default-btn.grey {
  color: black;
  background-color: lightgray;
  border-color: gray;
}
.default-btn.grey:hover {
  background-color: gray;
  border-color: gray;
}
.default-btn.grey:focus {
  box-shadow: none !important;
}
