.web-center {
  display: block;
  justify-content: center;
  align-items: center;
  /*600px in center of large page but varies when browser is smaller*/
  /* margin-top: 1rem;
  margin-bottom: 2rem; */
  font-family: "Source Sans Pro", sans-serif;
}

.user-account {
  justify-content: center;
}

/* Phones */
@media screen and (max-width: 600px) {
  .user-account {
    max-width: 100%;
  }
  .web-center {
    max-width: 100%;
  }
}

/* Portrait Tablet and Large Phones */
@media screen and (min-width: 600px) {
  .user-account {
    max-width: 100%;
  }
  .web-center {
    max-width: 100%;
  }
}

/* Landscape Tablet */
@media screen and (min-width: 768px) {
  .user-account {
    max-width: 90%;
  }
  .web-center {
    max-width: 90%;
  }
}

/* Laptop/Desktop */
@media screen and (min-width: 992px) {
  .user-account {
    max-width: 70%;
  }
  .web-center {
    max-width: 70%;
  }
}

/* Large Laptop/Desktop */
@media screen and (min-width: 1200px) {
  .user-account {
    max-width: 50%;
  }
  .web-center {
    max-width: 60%;
  }
}

.profile {
  display: block;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: white;
}

.blueberries {
  background: url(../../../images/Blueberries.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sub-selecton {
  max-width: 300px;
}

.disclaimer {
  color: #32797e;
  background-color: #c6e5e7;
  border-color: #32797e;
  padding: 5px;
}

.disclaimer-btn {
  margin-top: 2%;
  width: 100%;
}

.large-img {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  height: auto;
}

.small-img {
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: 60%;
  height: auto;
}

.white {
  background-color: white;
  color: #0c0847;
}

.green {
  background-color: #afba15;
  color: white;
}

.blue {
  background-color: #0c0847;
  color: white;
}

/*plan to save*/
.countdown {
  color: #0c656b;
  font-size: 200%;
  font-weight: 200;
  padding: 5px;
}

.coundown-card {
  max-width: 50%;
  margin: auto;
}

.label {
  background-color: #0c656b;
  color: white;
  font-weight: 600;
  padding-left: 15.5px;
  padding-right: 15.5px;
}

.img-overlay {
  bottom: 20%;
  background-color: #0c0847;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

.pts-info {
  text-align: center;
  border-radius: 25px;
  background-color: #0c0847;
  color: white;
  padding: 4%;
  margin-bottom: 2%;
}

.pts-p-div {
  text-align: center;
  float: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pts-p {
  font-size: 3;
}

.pts-container {
  position: relative;
}

.text-block {
  position: absolute;
  top: 10%;
  width: 80%;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.text-block p {
  font-size: large;
}

.pts-modal {
  position: relative;

  background-color: bisque;
}

.pts-modal .close {
  position: absolute;
  top: 2%;
  right: 2%;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}
.pts-modal .title {
  margin-top: 4%;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}
.pts-modal .body {
  position: absolute;
  top: 53%;
  left: 50%;
  margin-top: 2%;
  width: 80%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

/* Phones */
@media screen and (max-width: 600px) {
  .pts-modal {
    top: 50%;
    left: 0%;
    transform: translate(-0%, -50%);
    width: 100%;
  }
  .pts-modal .title {
    font-size: 1.5rem;
  }
  .pts-modal .body p {
    font-size: 0.9rem;
  }
}

/* Portrait Tablet and Large Phones */
@media screen and (min-width: 600px) {
  .pts-modal {
    top: 50%;
    left: 5%;
    transform: translate(-2.5%, -50%);
    width: 95%;
  }
  .pts-modal .title {
    font-size: 2rem;
  }
  .pts-modal .body p {
    font-size: 1.4rem;
  }
}

/* Landscape Tablet */
@media screen and (min-width: 768px) {
  .pts-modal {
    top: 20%;
    left: 20%;
    transform: translate(-10%, -10%);
    width: 80%;
  }
  .pts-modal .title {
    font-size: 2.5rem;
  }
  .pts-modal .body p {
    font-size: 1.2rem;
  }
}

/* Laptop/Desktop */
@media screen and (min-width: 992px) {
  .pts-modal {
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    width: 60%;
  }
  .pts-modal .title {
    font-size: 2.5rem;
  }
  .pts-modal .body p {
    font-size: 1.2rem;
  }
}

/* Large Laptop/Desktop */
@media screen and (min-width: 1200px) {
  .pts-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
  .pts-modal .title {
    font-size: 2.5rem;
  }
  .pts-modal .body p {
    font-size: 1.2rem;
  }
}

.support {
  width: 100%;
  background-color: #afba15;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}
