.signup-mobile {
  position: absolute;
  width: 100%;
  justify-content: center;
  float: center;
  top: 8%;
}
.titles {
  position: relative;
  width: 75%;
  margin: auto;
  text-align: center;
  justify-content: center;
  float: center;
}
.center {
  position: relative;
  text-align: center;
  justify-content: center;
  float: center;
}
.titles h1 {
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: -0.1rem;
}

.titles h2 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -0.1rem;
  color: #0c0847;
}

.signup-btn {
  width: 60%;
  float: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1rem;
  border-radius: 8px;

  background-color: #0c0847;
  border-color: #02001a;
  color: #afba15;
}
.signup-btn:hover {
  background-color: #02001a;
  border-color: white;
  color: white;
}
.signup-btn:focus {
  background-color: #02001a;
  border-color: white;
}
.signup-btn:active {
  background-color: #0c0847;
  border-color: white;
}
