.landing {
  position: absolute;
  overflow: hidden;
  text-align: center;
  background: center fixed;
  background-size: cover;
  background-origin: content-box;
  object-fit: cover;
}

.title {
  position: absolute;
  text-align: center;
  justify-content: center;
}

.title h1 {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 2.8rem;
  letter-spacing: -0.1rem;

  color: #afba15;
}

.title h2 {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 2.1rem;
  word-spacing: -0.3rem;
  line-height: 2rem;

  color: #afba15;
}

.title p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 25px;
  color: #0c0847;
}

.buttons {
  position: absolute;
  text-align: center;
  justify-content: center;
}

/* Phones */
@media screen and (max-width: 600px) {
  .title {
    width: 100%;
    top: 5%;
  }
  .landing {
    width: 100%;
    height: 100%;
    left: 0px;
    top: -8px;
  }
  .buttons {
    width: 100%;
    top: 78%;
  }
}

/* Portrait Tablet and Large Phones */
@media screen and (min-width: 600px) {
  .title {
    width: 90%;
    margin-left: 5%;
    top: 3%;
  }
  .landing {
    width: 90%;
    height: 100%;
    left: 5%;
  }
  .buttons {
    width: 40%;
    left: 30%;
    top: 75%;
  }
}

/* Landscape Tablet */
@media screen and (min-width: 768px) {
  .title {
    width: 75%;
    margin-left: 12.5%;
    top: 3%;
  }
  .landing {
    width: 80%;
    height: 100%;
    left: 10%;
  }
  .buttons {
    width: 40%;
    left: 30%;
    top: 75%;
  }
}

/* Laptop/Desktop */
@media screen and (min-width: 992px) {
  .title {
    width: 75%;
    margin-left: 12.5%;
    top: 1%;
  }
  .landing {
    width: 50%;
    height: 100%;
    left: 25%;
  }
  .buttons {
    width: 40%;
    left: 30%;
    top: 75%;
  }
}

/* Large Laptop/Desktop */
@media screen and (min-width: 1200px) {
  .title {
    width: 75%;
    margin-left: 12.5%;
    top: 5%;
  }
  .landing {
    width: 40%;
    height: 100%;
    left: 30%;
  }
  .buttons {
    width: 40%;
    left: 30%;
    top: 75%;
  }
}
