.mobile-style {
  margin-top: 1%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;
  border-radius: 25px;
  padding: 2%;
}

.browser-style-outer {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  background-color: white;
  border-radius: 25px;
  padding: 2%;
}

.center {
  text-align: center;
  flex-direction: row;
}

.list {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}
