.tabLink{
    width: 9rem;
    height: 9rem;
    padding: 1rem;

    display: flex;
    align-items: center;
   
    margin: 20px;
    border-radius: 15px;
}

a:hover,a:visited,a:active{
    text-decoration: none;
    color:#fff
}