.display {
  display: flex;
}

/* Phones */
@media screen and (max-width: 600px) {
  .display {
    flex-direction: column;
  }

  .plan-box {
    flex: 1;
    width: 100%;
    min-height: 19rem;
    max-height: 25rem;
  }

  .calendar {
    flex: 1;
    width: 100%;
  }
}

/* Portrait Tablet and Large Phones */
@media screen and (min-width: 600px) {
  .display {
    flex-direction: column;
  }

  .plan-box {
    flex: 1;
    width: 100%;
    min-height: 19rem;
  }

  .calendar {
    width: 100%;
  }
}

/* Landscape Tablet */
@media screen and (min-width: 768px) {
  .display {
    flex-direction: row;
  }

  .plan-box {
    flex: 1;
    max-width: 48%;
  }

  .calendar {
    flex: 1;
    max-width: 50%;
  }
}

/* Laptop/Desktop */
@media screen and (min-width: 992px) {
  .display {
    flex-direction: row;
  }

  .plan-box {
    flex: 1;
    max-width: 48%;
  }

  .calendar {
    flex: 1;
    max-width: 50%;
  }
}

/* Large Laptop/Desktop */
@media screen and (min-width: 1200px) {
  .display {
    flex-direction: row;
  }

  .plan-box {
    flex: 1;
    max-width: 48%;
  }

  .calendar {
    flex: 1;
    max-width: 50%;
  }
}

.mealtabs a {
  color: #32797e;
}

.plan-box {
  border: 1px solid #32797e;
  margin: 0 2% 2% 0;
  position: relative;
  min-width: 40%;
  padding-bottom: 1.5rem;
}

.plan-box .header {
  background-color: #32797e;
  text-align: left;
  padding-left: 1%;
  min-height: 2rem;
  line-height: 2rem;
  color: white;
}

.plan-box .button {
  position: absolute;
  bottom: 1%;
  left: 2%;
}

.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  min-width: 50%;
}

.header {
  background-color: #32797e;
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: white;
  font-weight: 700;
  display: flex;
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
}

.calendar .body {
  border: 1px solid #32797e;
}

.calendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.calendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

.calendar .week {
  background-color: white;
  width: calc(100% / 7);
  height: calc(100% / 6);
  line-height: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
}
.calendar .week div {
  width: 100%;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: calc(100% / 6);
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.calendar .day div {
  width: 100%;
  height: calc(100% / 6);
  position: relative;
  color: black;
  z-index: 100;
  line-height: 44px;
}

.calendar .day .before {
  color: lightgray;
}

.calendar .day .selected {
  background-color: #afba15;
  color: white;
  font-weight: bold;
}

.calendar .day .today {
  background-color: lightgray;
}

.saved-meals {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.meal-box {
  color: #302d53;
  overflow-wrap: break-word;
  background-color: #d9a12d;
  border-radius: 25px;
  margin: 0.5rem;
  padding: 1rem 1rem 0 1rem;
  transition: transform 0.5s;
}

.meal-box .ingrs {
  color: #0c0847;
  margin-left: 1rem;
  line-height: 0.8;
}

/* .meal-box .delete {
  position: absolute;
  top: 2rem;
  left: -0.5rem;
}
.meal-box .edit {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.meal-box .add-to-calendar {
  position: absolute;
  top: 2rem;
  left: 4.5rem;
} */

.saved-meals .meal-box {
  background-color: #e2b458ec;
}
.meal-box:hover {
  background-color: #f0af2e;
  transform: scale(0.99);
}

.form:nth-child(odd) {
  background-color: #b3b785;
  border-radius: 25px;
  padding: 2%;
}

.search-box {
  margin: 0.5rem 0 0.5rem 0;
  box-shadow: 0.1rem 0.1rem 0.1rem #aba9b4;
  border-radius: 15px;
}
.search-box .image {
  min-width: 15rem;
  max-width: 18rem;
  padding-left: 2rem;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
}
.search-box img {
  width: 100%;
}
.search-box a {
  color: #afba15;
  font-style: italic;
}
.search-box .ingredients {
  min-width: 20rem;
  color: #302d53;
}

.heading {
  display: flex;
  line-height: 2rem;
  align-items: baseline;
  position: sticky;
}

.heading .meal-name {
  flex: 2;
  text-align: left;
}

.heading .icons {
  flex: 1;
  text-align: right;
}

.meal-box .meal-type {
  border-radius: 10px;
  background-color: #f8d287;
  color: #595680;
  font-size: 12px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: fit-content;
}

.list {
  line-height: 1;
  margin: 0;
}
.list:nth-child(odd) {
  background-color: #d4d7b6;
}
