.accordion{
    width: 900px;
    height: 55px;
    font-size: 13px;
    background-color: #F2F2F2;
    border: 1px solid #D2D2D7;
    border-radius: 8px;
}



/*=============================================
=            Status Bulb            =
=============================================*/
.bulb{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}


/*=====  End of Status Bulb  ======*/


