.paginator{
    width: 150px;
    height: 35px;
    border: 1px solid #D2D2D7;
    margin: 0 auto;
    border-radius: 8px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     display: flex;
}

.paginator input{
    width: 1.75rem;
}

.paginator input:focus{
    outline: #6851d8;
}

.paginatorBtn{
    width: 1.75rem
}

.paginator_prev_pg{
    border-radius: 0 8 8 0 ;
}
.paginator_next_pg{
    border-radius: 8 0 0 8 ;
}