html {
  background-color: whitesmoke;
}

body {
  background-color: whitesmoke;
}

.warning {
  color: rgb(204, 37, 37);
  font-size: 16px;
}

/* page not found */

.not-found .page-not-found {
  font-size: 45px;
  font-weight: 600;
  color: rgb(55, 85, 54);
}

.not-found .not-found-message {
  font-size: 23px;
  padding-top: 10px;
}

/* home page */

.home-welcome {
  font-size: 65px;
  width: 70%;
  font-weight: 600;
}

.update-text {
  font-size: 18px;
  font-weight: 500;
}

.home-welcome,
.update-text {
  color: rgb(255, 255, 255);
}

/* about page */
.about h1 {
  font-size: 28px;
}

.about p {
  font-size: 17px;
}

.about {
  margin: auto;
}

/* login page and signup page */

.login-graphic,
.signup-graphic,
.home,
.home-mobile {
  background-color: rgb(218, 218, 218);
  background-image: linear-gradient(
      rgba(51, 47, 47, 0.5),
      rgba(95, 95, 95, 0.5)
    ),
    url("../../images/robot-backgroung.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.signup-graphic {
  background-image: linear-gradient(
      rgba(51, 47, 47, 0.5),
      rgba(95, 95, 95, 0.5)
    ),
    url("../../images/signup3.jpg");
  height: 175vh;
}

.new-signup-graphic {
  background-image: url("../../images/for-website-col-test-9.png");
  height: 95vh;
}

/* .foodpage-graphic{
    background-image: linear-gradient(rgba(51, 47, 47, 0.5),rgba(95, 95, 95, 0.5)), url("../../images/robot-backgroung.jpg");
    height: 100vh;
  }

  .foodwastepage-graphic{
    background-image: linear-gradient(rgba(51, 47, 47, 0.5),rgba(95, 95, 95, 0.5)), url("../../images/robot-backgroung.jpg");
    height: 125vh;
  } */

/* .signup-graphic-confirm{
    background-image: linear-gradient(rgba(51, 47, 47, 0.5),rgba(95, 95, 95, 0.5)), url("../../images/signup3.jpg");
    height: 100vh;
    margin-top: 0%;
    margin-bottom: 0%;
  } */

.home {
  background-image: linear-gradient(rgba(92, 92, 92, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/for-website.png");
}

.home-mobile {
  background-image: linear-gradient(rgba(92, 92, 92, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/for-website-2.png");
}

.home-text-mobile {
  font-size: 3.5vh;
  font-weight: bold;
  color: rgb(218, 218, 218);
}

.home-update-text-mobile {
  font-size: 2vh;
  color: rgb(218, 218, 218);
}

.home-play-store-link {
  color: #aab41e;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.fix-image {
  width: 100% \9;
  object-fit: scale-down;
}

.signup .signup-logo {
  font-size: 38px;
  color: #333333;
  padding: 2px 5px 10px 5px;
}

.login p,
.signup p {
  padding-top: 30px;
  font-size: 17px;
}

.login h1,
.signup h1 {
  padding-top: 5px;
  font-size: 18px;
  font-weight: 700;
}

.signup .header {
  color: rgb(55, 85, 54);
}

.login .forgot-password {
  font-size: 16px;
  margin-top: 5px;
  float: right;
  text-decoration: none;
  color: rgb(90, 91, 92);
}

.login .register,
.signup .register,
.frg-pass .register {
  color: #aab41e;
  font-weight: 600;
  text-decoration: none;
}

.signup .terms {
  font-size: 15px;
  text-decoration: none;
}

.signup .termcond {
  color: #757c0e;
  text-decoration: none;
}

/* .signup .confirm-btn{
    background-color: rgb(13, 27, 92);
    justify-content: center;
  } */

.terms-link,
.privacy-link {
  color: #aab41e;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}

/* contact page */
.contact {
  margin: auto;
  width: 95%;
  text-align: center;
}

.contact .contact-logo {
  /*color: rgb(81, 117, 79);*/
  color: #aab41e;
  font-size: 50px;
  padding: 15px 15px 15px 15px;
}

.contact h1 {
  font-size: 1.2rem;
  color: rgb(55, 85, 54);
}

.contact-text-layout {
  margin: auto;
  padding-top: 2%;
}

.details {
  text-align: center;
}
.details .contact-footer-icon {
  font-size: 30px;
  color: rgb(55, 85, 54);
  padding: 5px 10px 10px 10px;
}

.details p {
  font-size: 13px;
  padding-top: 5px;
}

.details .more-details-header {
  font-size: 20px;
}

/* forgot password page and change password page and user account page */

.frg-pass h1,
.change-password h1 {
  font-size: 18px;
  font-weight: 700;
}

.frg-pass .remember-password,
.change-password .cancel {
  font-size: 16px;
  font-weight: 600;
  color: rgb(55, 85, 54);
  text-decoration: none;
}

.frg-pass .rmb-pass,
.change-password .back-to-acc {
  padding-top: 50px;
}

.frg-pass .no-acc {
  padding-top: 28px;
}

.label {
  background-color: #0c656b;
  color: white;
  font-weight: 600;
  padding-left: 15.5px;
  padding-right: 15.5px;
}

.large-img {
  max-width: 100%;
  height: auto;
}

.web-center {
  /* float: center; */
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 70%;
  /*600px in center of large page but varies when browser is smaller*/
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Source Sans Pro", sans-serif;
}

.custom-btn {
  background-color: rgb(13, 27, 92);
  border-color: rgb(13, 27, 92);
}

.custom-btn-2 {
  background-color: #aab41e;
  border-color: #aab41e;
  height: 120px;
  width: 100%;
  margin-bottom: 2.5%;
  font-weight: 600;
  font-size: 200%;
  padding: 5% 0 5% 0;
}

.custom-btn-3 {
  background-color: rgb(24, 160, 101);
  border-color: rgb(24, 160, 101);
}

.custom-btn-4 {
  background-color: rgb(176, 10, 182);
  border-color: rgb(176, 10, 182);
}

.custom-btn-5 {
  background-color: rgb(13, 108, 6);
  border-color: rgb(13, 108, 6);
}

/* map page */
.map-data {
  width: 100%;
  height: 60vh;
}

/* Map Clusters */
.marker-cluster div {
  background-color: #afba15 !important;
}

.marker-cluster {
  background-color: #afba15 !important;
}

.popup-data {
  padding: 0px 2px 0px 2px;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
}

.popup-name {
  color: rgb(55, 85, 54);
  font-size: 17px;
  font-weight: 600;
  padding: 3px 4px 1px 4px;
}

.auth-error {
  color: red;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 576px) {
  .home {
    background-image: none;
    background-color: whitesmoke;
  }

  .home-welcome {
    font-size: 15px;
    width: 100%;
  }

  .update-text {
    font-size: 12px;
  }

  .home-welcome,
  .update-text {
    color: black;
  }
}

#root {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  .card-design {
    width: 203px;
    height: 300px;
  }
}

.card-design {
  width: "261px";
  height: "400px";
}
