html {
  background-color: whitesmoke;
}

body{
  background-color: whitesmoke;
}

.warning{
  color: rgb(204, 37, 37);
  font-size: 16px;
}

/* page not found */

.not-found .page-not-found{
  font-size: 45px;
  font-weight: 600;
  color: rgb(55, 85, 54);
}

.not-found .not-found-message{
  font-size: 23px;
  padding-top: 10px;
}


/* home page */

.home-welcome{
  font-size: 65px;
  width: 70%;
  font-weight: 600;
}

.update-text{
  font-size: 18px;
  font-weight: 500;
}

.home-welcome, .update-text{
  color: rgb(255, 255, 255);
}

/* about page */
.about h1{
    font-size: 28px;
}

.about p{
    font-size: 17px;
}

.about{
  margin: auto;
}

/* login page and signup page */

.login-graphic,  .signup-graphic, .home{
    background-color: rgb(218, 218, 218);
    background-image: linear-gradient(rgba(51, 47, 47, 0.5),rgba(95, 95, 95, 0.5)), url("../../images/robot-backgroung.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 100vh;
  }

  .signup-graphic{
    background-image: linear-gradient(rgba(51, 47, 47, 0.5),rgba(95, 95, 95, 0.5)), url("../../images/signup3.jpg");
  }

  .home{
    background-image: linear-gradient(rgba(92, 92, 92, 0.5),rgba(0, 0, 0, 0.5)), url("../../images/connectivity.png");
  }

  .fix-image{
    width: 100% \9;
    object-fit: scale-down;
  }

  .signup .signup-logo{
    font-size: 38px;
    color: #333333;
    padding: 2px 5px 10px 5px;
  }

  .login p, .signup p{
    padding-top: 30px;
    font-size: 17px;
  }
  
  .login h1, .signup h1{
    padding-top: 5px;
    font-size: 18px;
    font-weight: 700;
  }
  
  .signup .header{
    color: rgb(55, 85, 54);

  }

  .login .forgot-password{
    font-size: 16px;
    margin-top: 5px;
    float: right;
    text-decoration: none;
    color: rgb(90, 91, 92);
  }

  .login .register, .signup .register, .frg-pass .register{
    color:  #aab41e;
    font-weight: 600;
    text-decoration: none;
  }

  .signup .terms{
    font-size: 15px;
    text-decoration: none;
  }
  
  .signup .termcond{
    color: #757c0e;
    text-decoration: none;
  }
  

  /* contact page */
  .contact .contact-logo{
    /*color: rgb(81, 117, 79);*/
    color:#aab41e;
    font-size: 60px;
    padding: 15px 15px 15px 15px; 
  }
  
  .contact h1{
    font-size: 20px;
    color: rgb(55, 85, 54);
  }
  .contact .contact-title{
      font-size: 25px;
      font-weight: 700;
      color: black;
    }
.contact-text-layout{
  width: 55%;
  margin: auto;
  padding-top: 30px;
}

.contact .contact-header{
  background-color: white;
  padding: 15px 0 10px 0;
  margin: auto;
}

.details .contact-footer-icon{
  font-size: 30px;
  color: rgb(55, 85, 54);
  padding: 5px 10px 10px 10px;
}

.details p{
  font-size: 13px;
  padding-top: 5px;
}


.details .other-contact-details{
  border: 1px solid black;
  margin-bottom: 10px;
}

.details .more-details-header{
  font-size: 20px;
}

/* forgot password page and change password page and user account page */

.frg-pass h1, .change-password h1{
  font-size: 18px;
  font-weight: 700;
}

.frg-pass .remember-password, .change-password .cancel{
  font-size: 16px;
  font-weight: 600;
  color: rgb(55, 85, 54);
  text-decoration: none;
}

.frg-pass .rmb-pass, .change-password .back-to-acc{
  padding-top: 50px;
}

.frg-pass .no-acc{
  padding-top: 28px;
}

/* .user-acc {
  overflow-x: hidden;
  overflow-y: scroll;
} */

.user-acc h1{
  font-size: 20px;
  padding-bottom: 15px;
}

.user-acc h1:last-of-type{
  padding-bottom: 35px;
  border-bottom: 1px solid black;
}

.user-acc .user-acc-title{
  font-size: 30px;
  font-weight: 600;
  margin-top: -20px;
  padding-bottom: 15px;
}

.user-acc span{
  color: rgb(55, 85, 54);
}

.user-acc p{
  font-size: 17px;
}

.user-acc p:first-of-type{
  font-size: 17px;
  padding-top: 20px;
}

.user-acc .user-acc-opt{
  color: rgb(7, 7, 77);
  text-decoration: none;
  padding-bottom: 20px;
}

.user-acc .user-acc-opt:hover{
  color: rgb(0, 0, 0);
}

.user-acc .user-acc-opt:visited{
  color: rgb(7, 7, 77);
}

.user-acc .initials-logo{
  background-color: rgb(13, 27, 92);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 1px solid rgb(3, 8, 48);
  margin: auto;
  margin-bottom: 25px;
}

.user-acc .initials-logo p{
  color: whitesmoke;
  font-size: 30px;
}

/* map page */
.map-data{
  width: 100%;
  height: 80vh;
}

.popup-data {
  padding: 0px 2px 0px 2px;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

.popup-name{
  color: rgb(55, 85, 54);
  font-size: 17px;
  font-weight: 600;
  padding: 3px 4px 1px 4px;
}


.auth-error{
  color: red;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 576px) {
  .home{
    background-image: none;
    background-color: whitesmoke;
  }

  .home-welcome{
    font-size: 15px;
    width: 100%;
  }

  .update-text{
    font-size: 12px;
  }

  .home-welcome, .update-text{
    color: black;
  }

}

#root {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  .card-design {
    width: 203px;
    height: 300px;
  }
}

.card-design {
  width: "261px";
  height:'400px';
}
