.main-div{
    text-align: center;
    padding-top: 140px; 
    justify-content: space-around;
    align-items: center;
  }

  .modal-container{
      border: 2px solid #7d850e;
      /*padding: 10px 20px 20px 20px;*/
      width: 45%;
      border-radius: 10px;
      border-top: none;
      background-color: rgb(236, 235, 235);
      margin: auto;
      box-shadow: 0 4px 4px 0 rgba(49, 49, 49, 0.22);
  }

  .modal-header{
      display: inline-block;
     /* padding: 10px 12px 10px 12px;
      border-bottom: 1px solid black;*/
      font-size: 15px;
      width: 100%;
      background-color: #7d850e;
      color: white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }

  .header-text{
      float: left ;
      padding: 5px 10px 5px 15px;
  }
  .modal-close-btn{
      float: right;
      padding: 18px 25px 25px 25px;
      cursor: pointer;
  }

  .modal-content{
    padding:50px 10px 20px 10px;
  }

  .modal-container label{
    font-size: 16px;
    text-align: left;
    display: block;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
  }

  .modal-container input{
    width: 70%;
    border: 1px solid #62680a;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 18px;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
  }


  .modal-container .frg-password{
    display: inline;
    float: right;
    align-items: center;
    justify-content: space-around;
    padding: 10px 100px 10px 100px;
  }

  .modal-container .btn{
    margin-top: -4px;
  margin-bottom: 6px;
  margin-left: 100px;
  font-size: 15px;
  border: 1px solid #03091d;
  border-radius: 4px;
  padding: 10px 12px 10px 12px;
  background-color:  #071850;
  color:whitesmoke;
  cursor: pointer;
  float: left;
  }

  .modal-container .btn:hover{
      background-color: rgb(0, 30, 128);
  }
  .modal-container .password{
    font-size: 15px;
    color: rgb(97, 103, 109);
  }
  
  .modal-container .register{
    /*color: #6d7215;*/
    color: #193d8b;
    font-weight: 700;
  }

  .modal-container .acc{
    font-size: 17px;
    padding-top: 60px;
  }


  .modal-footer{
    padding: 18px 5px 35px 55px;
  }

  .modal-close{
      padding: 10px 12px 10px 12px;
      float: right;
      background-color: #606609;

      margin-top: -4px;
      margin-bottom: 6px;
      margin-left: 100px;
      font-size: 15px;
      border: 1px solid #4d5208;
      border-radius: 4px;
      color:whitesmoke;
      cursor: pointer;
  }

  .modal-close:hover{
      background-color: #99a310;
  }