* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
  /* background-color: whitesmoke; */
}

#root,
body {
  min-height: 100%;
  width: 100%;
}

html {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif, "Source Serif Pro";
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}
