* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
  /* background-color: whitesmoke; */
}

#root,
body {
  min-height: 100%;
  width: 100%;
}

html {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif, "Source Serif Pro";
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

.crop-selected{
  outline: 2px solid #afba15;
    outline-offset: 1px;
    border-radius: 100%;
    background: #0c0847;
}

@media screen and (min-width: 600px) {
  .flex{
    display: flex;
  }
  .crops .dropdown {
    flex-basis: 400px;
  }
  .flex img{
    max-width: 400px;
  }
  .profile {
    box-shadow: none !important;
  }
}
